.scroll-container {
	width: 100%;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: flex-end;
    position: relative;
    bottom: 100px;
    left: 5px;
    z-index: 1;
}

.mouse {
    height: 60px;
    border: 1px solid #000;
    position: relative;
    margin-left: 20px;
}

.mouse::before {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
}

.field {
    display: flex;
}

.field > span {
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

@keyframes wheel {
    to {
        opacity: 0;
        top: 60px;
    }
}

@-webkit-keyframes wheel {
    to {
        opacity: 0;
        top: 60px;
    }
}

@media(min-width: 768px) {
    .scroll-container {
        position: absolute;
        bottom: -150px;
        left: -20px;
    }
}

@media(min-width: 1024px) {
    .scroll-container {
        position: absolute;
        bottom: 100px;
        left: -20px;
    }
}
