.header {
  background-color: #0076B6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.header img {
  width: 50px;
}


.nav > ul {
  list-style: none;
  display: flex;
  justify-content: right;
  gap: 20px;
  font-size: 16px;
  font-weight: 500;
}

.nav > ul > li > a {
  text-decoration: none;
  color: #fff;
}

.tech-stack {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 24px;
}

.tech-stack-icons {
  display: flex;
  gap: 10px;
  font-size: 36px;
  color: #007ACC;
}

.landing-wrapper img {
  width: 300px;
  height: 300px;
  border-radius: 35% 40% 30% 35%;
  border: none;
  object-fit: cover;
}

.landing-wrapper {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  gap: 20%;
  align-items: center;
  margin: 0 auto;
}

.landing-text > h1 {
  color: #0076B6;
  font-size: 64px;
  margin: 0;
}

.landing-text > p {
  font-size: 24px;
  font-weight: 600;
}

.btn {
  display: block;
  width: 30%;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  background-color: #FF9500;
  border-radius: 10px;
  margin: 0 auto;
}

.projects-btn {
  display: block;
  width: 150px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  padding: 10px;
  background-color: #FF9500;
  border-radius: 10px;
  margin: 0 auto;
}


.home-about {
  width: 100%;
  background-color: #0076B6;
  padding: 20px 0;
  margin-top: 60px;
  color: #fff;
}

h2 {
  text-align: center;
  font-size: 64px;
  margin-top: 50px;
}

.home-about p {
  width: 70%;
  text-align: center;
  margin: 50px auto;
  font-size: 32px;
}

.featured-projects {
  padding-bottom: 50px;
}

.featured-projects h2 {
  color: #007ACC;
  margin-top: 100px;
}

.featured-projects-container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.footer {
  background-color: #21536E;
  color: #fff;
  margin: 0;
}

.footer h2, p {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer-buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.footer-btn {
  width: 150px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  padding: 10px;
  background-color: #FF9500;
  border-radius: 10px;
}

.social-media {
  width: 100%;
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
  font-size: 24px;
}

.social-media > a {
  color: #000;

}

.social-media p {
  text-align: center;
}

.trademark {
  padding: 20px 0;
  margin: 0 auto;
  font-size: 16px;
}

#about h1 {
  color: #0076B6;
  font-size: 36px;
  margin-left: 200px;
  margin-top: 50px;
}

#about h2 {
  color: #0076B6;
  font-size: 36px;
  margin-bottom: 50px;
}

#about p {
  width: 80%;
  margin: 100px auto;
  font-size: 24px;
  line-height: 1.5;
}

#about img {
  width: 96px;
  height: auto;
  margin: 20px;
}

.toolkit-grid {
  width: 50vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 50px;
}